arviz 
asgiref==3.3.4
certifi==2020.12.5
cftime 
chardet==4.0.0
click==8.0.1
colorama==0.4.4
convertdate 
cycler==0.10.0
Cython
Django==3.2.3
ephem 
filelock==3.0.12
hijri-converter 
holidays 
huggingface-hub==0.0.8
idna==2.10
joblib==1.0.1
kiwisolver
korean-lunar-calendar 
LunarCalendar==0.0.9
lxml==4.6.3
matplotlib 
multitasking==0.0.9
netCDF4 
numpy 
olefile 
packaging 
pandas 
Pillow 
prophet 
PyMeeus 
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pystan==2.19.1.1
python-dateutil==2.8.1
pytz 
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
scipy 
six 
sqlparse==0.4.1
tokenizers==0.10.3
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
tornado 
tqdm 
transformers==4.6.1
typing-extensions 
urllib3==1.26.5
wincertstore==0.2
xarray
yfinance==0.1.59
